@media (min-width: 360px), (max-width: 767px){
  .HealthBenefits_h1
  {
    padding-top: 2rem;
  }
  .Benefits__article
{
 
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: white;
  
  z-index: 2;
  max-width: 1100px;

}
.Benefits__article p
{
  font-family: 'Raleway', sans-serif;
  background-color: white;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
width: 80%;
 left: 50%;
 transform: translateX(-50%);
 text-align: justify;
  color: rgb(48, 73, 20);
  z-index: 2;
}

.benefitsimg
{
position: relative;
height: 200px;
float: right;
shape-outside: margin-box;
margin: 30px 0px 30px 90px;
shape-outside: circle(50%);
border-radius: 20%;
}
}

@media (min-width: 767px){
  .HealthBenefits_h1
  {
    margin-top: 1.5rem;
  }
.Benefits__article
{
 
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: white;
  
  z-index: 2;
  max-width: 1100px;
  border-radius: 7rem;
  
  
}
.Benefits__article p
{
  background-color: white;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 26px;
width: 100%;
  text-align: justify;
  color: rgb(48, 73, 20);
  z-index: 2;
}

.benefitsimg
{
position: relative;
width: 450px;
height: 300px;
float: right;
shape-outside: margin-box;
margin: 30px 0px 30px 90px;
shape-outside: circle(50%);
border-radius: 20%;
}
}


  
