.side-drawer{
    height: 100%;
    background-color: rgb(255, 255, 255);
  
  display: flex;
  flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 78%;
    max-width: 400px;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.8s ease-out;
}
.side-drawer.open{
    
    transition: transform 0.5s ease-out;
    transform: translateX(0);
    box-shadow: 1px 0px 7px rgb(63, 63, 63);
}

.side-drawer ul{
   
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
}
.side-drawer li {
    list-style: none;
    margin: 1rem 1.4rem;
    text-align: center;
}

.side-drawer li a {
    font-family: 'Caveat', cursive;
    color: #86b43c;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.side-drawer li a:hover{
    transition: .5s;
    color: #86b43c;
    text-shadow: 1px 0px rgb(29, 73, 0);
}

.toggle-button {
    display: flex;
    flex-direction: column;
  position: absolute;
  left: 4vw;
  top: 3.5vh;
    height: 24px;
    line-height: 10vh;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button :focus{
    outline: none;
}

.toggle-button__line{
    
    width: 36px;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(180, 212, 2);
}
@media (min-width: 769px){
    .side-drawer{
        display: none;
    }
}

@media  (max-width: 800px) and (orientation: landscape) 
{
    .toggle-button {
        display: flex;
        flex-direction: column;
      position: absolute;
      left: 4vw;
      top: 6.5vh;
        height: 24px;
        line-height: 16vh;
        width: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        box-sizing: border-box;
    }
}