/* SOCIAL STUFF */
.social-container {
   z-index: 4;
 display: flex;
 align-items: center;
 justify-content: center;

  }
  a.social {
      font-size: 1rem;
    padding: .8rem;
 
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  
  a.facebook {
    color: rgb(101, 180, 255);
  }
  
  a.twitter {
    color: rgb(143, 201, 255);
  }
  
  a.instagram {
    color: rgb(252, 164, 0);
  }
  