.toolbar{
    position: fixed;
    padding-left: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 10vh;
  z-index: 3;
  box-shadow: 0 0px 12px 1px black;
}
.toolbar__logo{

    margin-left: 0;
    margin-bottom: 1rem;
}
.toolbarLogo
{
    
    position: fixed;
   left: 50%;
   transform: translate(-50%, 25%);
    height: 6.5vh;
    border-radius: 2rem;
    
}

.spacer{
    flex: 1;
}

.toolbar__navigation{
display: flex;
height: 100%;
align-items: center;
padding: 0 1rem;
}


.toolbar_navigation-item a{
    color: rgb(164, 255, 79);
    text-decoration: none;
   
}

.toolbar_navigation-item a:hover,
.toolbar_navigation-item a:active{
    color: orange
}

@media(max-width: 768px){
   
    .toolbar_navigation-item{
        display: none;
    }
}

@media (min-width: 769px){
    .toolbar
    {
        display: none;
    }
    .toolbar__toggle-button{
        display: none;
    }
    .toolbar__logo{
        margin-left: 0;
    }
}
@media  (max-width: 800px) and (orientation: landscape) 
{
    .toolbarLogo
{
    
    position: fixed;
   left: 50%;
   transform: translate(-50%, 25%);
    height: 11.5vh;
    border-radius: 2rem;
    
}
.toolbar{
    position: fixed;
    padding-left: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 18vh;
  z-index: 3;
  box-shadow: 0 0px 12px 1px black;
}
}